{% comment %}
  Renders a product card
{% endcomment %}

{%- liquid
  assign show_countdown = false
  if enable_countdown and card_product.metafields.theme.countdown.value != blank
    assign now_time = 'now' | date: '%s' | times: 1
    assign countdown_time = card_product.metafields.theme.countdown.value | date: '%s' | times: 1
    if countdown_time > now_time
      assign show_countdown = true
    endif
  endif

  assign show_quick_buy_2nd = true
  assign options_count = card_product.options.size

  if settings.color_swatches_enabled == false
    assign enable_color_swatches = false
  endif

  if button_custom_class
    assign button_class = button_custom_class
  else
    assign button_class = 'button button--small'
  endif

  if settings.disable_collection_portion
    assign card_url = card_product.url
    assign card_url_with_default = card_product.url | default: '#'
  else
    assign card_url = card_product.url | within: card_collection
    assign card_url_with_default = card_product.url | within: card_collection | default: '#'
  endif
-%}

<div class="card-wrapper">
  <use-animate
    data-animate="zoom-fade-small"
    class="card card--product{% if card_product.featured_media == nil %} card--text{% endif %}"
    tabindex="-1"
  >
    {%- if card_product.featured_media -%}
       {%- liquid
        assign featured_media_aspect_ratio = card_product.featured_media.aspect_ratio
        if card_product.featured_media.aspect_ratio == null
          assign featured_media_aspect_ratio = 1
        endif
      -%}
      <a href="{{ card_url }}" class="card__media media-wrapper" tabindex="-1">
        <div class="card--image-animate image-animate media media--{{ media_size }} media--hover-effect{% unless enable_image_fill %} media--image-contain{% endunless %}"
          {%- if media_size == 'adapt' %} style="--image-ratio-percent: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;" {% endif -%}
        >
        {% liquid
          assign fp_img = card_product.featured_image
          if card_product.selected_or_first_available_variant.featured_image != blank
           assign fp_img = card_product.selected_or_first_available_variant.featured_image
          endif
        %}
         <img class="upsell-img-d5" src="{{ fp_img | image_url: width: 400 }}" width="400" height="400" alt="{{ card_product.title }}" loading="lazy" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
      </a>
    {%- else -%}
      <div class="card__inner">
        <a href="{{ card_url }}" class="media media--{{ media_size }}" tabindex="-1">
          <div class="card__content">
            <h3 class="card-information__text h3">{{ card_product.title | escape }}</h3>
          </div>
        </a>
      </div>
    {%- endif -%}
  </use-animate>

  <div class="card-information">
    <a href="{{ card_url_with_default }}" class="full-unstyled-link">
      <span class="visually-hidden">{{ card_product.title | escape }}</span>
    </a>
    <div class="card-information__wrapper">
      <a href="{{ card_url }}" class="card-information__text h4" tabindex="-1">
        {{ card_product.title | escape }}
      </a>

      {% if card_product.metafields.custom.subtitle != blank %}
        <p class="meta-subtitle">{{ card_product.metafields.custom.subtitle.value }}</p>
      {% endif %}

      {% comment %} --- NEW VARIANT SELECTORS --- {% endcomment %}
      {% if d5_icon %}
        <div class="varian-selector-d5" style="margin: 10px 0;">
          {% for option in card_product.options_with_values %}
            <div style="margin-bottom: 5px;">
              <select class="com-options-d5" style="width: 100%; padding: 5px; font-size: 12px; border: 1px solid #e1e1e1;">
                {% for value in option.values %}
                  {% comment %} FIX: Value should be the string, not ID {% endcomment %}
                  <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        </div>

        {% assign product_form_id = 'com-form-d5-' | append: card_product.id %}
        <product-form class="product-form" data-section-id="{{ section.id }}">
          {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            
            {% comment %} Hidden select for JS data mapping {% endcomment %}
            <select class="com-variant-data-d5" hidden>
              {% for variant in card_product.variants %}
                <option 
                  {% unless variant.available %}data-sold="true"{% endunless %}
                  {% if variant.featured_image != blank %}data-img="{{ variant.featured_image | image_url: width: 600 }}"{% endif %}
                  value="{{ variant.id }}"
                >
                  {{ variant.title | escape }}
                </option>
              {% endfor %}
            </select>

            {% comment %} FIX: Added class 'com-final-id' so JS can find it {% endcomment %}
            <input type="hidden" name="id" class="com-final-id" value="{{ card_product.selected_or_first_available_variant.id }}">
            
            <button type="submit" name="add" class="button button--small button--cta com-btn-d5 {% unless card_product.selected_or_first_available_variant.available %}disabled{% endunless %}" style="width: 100%; margin-top: 5px;" {% unless card_product.selected_or_first_available_variant.available %}disabled{% endunless %}>
              {% unless card_product.selected_or_first_available_variant.available %}
                {{ 'products.product.sold_out' | t }}
              {% else %}
                {{ 'products.product.add_to_cart' | t }}
              {% endunless %}
            </button>
          {% endform %}
        </product-form>
      {% endif %}
      {% comment %} --- END NEW SELECTORS --- {% endcomment %}

      {% render 'price', product: card_product %}
    </div>

    {% comment %} Only show default buttons if NOT using the new d5_icon block {% endcomment %}
    {% unless d5_icon %}
      <div class="card-information__button">
        {%- if card_product.available -%}
          {%- if card_product.variants.size == 1 -%}
            <add-to-cart class="{{ button_class }}" data-variant-id="{{ card_product.selected_or_first_available_variant.id }}">
              {{ 'products.product.add_to_cart' | t }}
            </add-to-cart>
          {%- else -%}
             <a href="{{ card_url }}" class="{{ button_class }}">
               {{ 'products.product.choose_options' | t }}
             </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {% endunless %}
  </div>
</div>