{%- liquid
  assign promo_images = false
  if block.settings.promo_product_1 != blank or block.settings.promo_product_2 != blank
    assign promo_images = true
  endif
-%}
<mega-menu class="is-megamenu{% if block.settings.show_menu_image %}{% if promo_images %} show-images{% else %} show-images-without-promo{% endif %}{% endif %}">
  <a href="{{ link.url }}" class="header__menu-item{% if link.active or link.child_active %} header__active-menu-item{% endif %} header__menu-item--top list-menu__item focus-inset"{% if link.current %} aria-current="page"{% endif %}>
    {%- liquid
      assign item_title = link.title | escape
      if enable_highlight and highlight_labels contains item_title
        render 'highlight-text', hl_enable: true, hl_input: item_title, hl_phrases: highlight_labels, hl_style: highlight_style, hl_animateWrap: true
      else
        echo '<span class="label">'
        echo item_title
        echo '</span>'
      endif
    -%}
  </a>
  {%- if link.links != blank or promo_images -%}
    <div class="list-menu-dropdown hidden">
      <div class="page-width{% if block.settings.narrow %} page-width--inner{% endif %}">
        {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 10rem) / 4), (min-width: 750px) calc((100vw - 10rem) / 3), calc(100vw - 3rem){%- endcapture -%}

        {%- if link.links != blank -%}
          <div class="list-mega-menu">
            {%- for childlink in link.links -%}
              <div class="mega-menu__item">
                <a href="{{ childlink.url }}" class="mega-menu__item-link list-menu__item focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                  {%- if childlink.type == 'collection_link' and childlink.object.image and block.settings.show_menu_image -%}
                    <div class="image-animate media media--wide">
                      {{ childlink.object.image | image_url: width: 1100 | image_tag:
                        loading: 'lazy',
                        class: 'motion-reduce',
                        sizes: sizes,
                        widths: '165, 360, 535, 750, 940, 1100',
                        is: 'lazy-image'
                      }}
                    </div>
                  {%- endif -%}
                  <div class="header__menu-item">
                    <span class="label">{{ childlink.title | escape }}</span>
                  </div>
                </a>
      
                {%- if childlink.links != blank -%}
                  <ul class="list-menu-child list-menu">
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item focus-inset{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                          <span class="label">{{ grandchildlink.title | escape }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            {%- endfor -%}
            {%- if link.links.size < 4 -%}
              <div class="mega-menu__item mega-menu__item--blank"></div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {% comment %} --- PRODUCT 1 --- {% endcomment %}
        {%- if block.settings.promo_product_1 != blank -%}
          {%- assign product_1 = block.settings.promo_product_1 -%}
          <div class="mega-menu__promo{% if block.settings.promo_overlay_content_1 %} mega-menu__promo--overlay{% endif %}">
            <a class="mega-menu__promo-link media-wrapper" href="{{ product_1.url }}">
              <div class="image-animate media media--{{ block.settings.promo_image_ratio_1 }}"
                style="--image-position: {{ block.settings.promo_image_position_1 }};{% if block.settings.promo_image_ratio_1 == 'adapt' and product_1.featured_image %}--image-ratio-percent: {{ 1 | divided_by: product_1.featured_image.aspect_ratio | times: 100 }}%;{% endif %}"
              >
                {%- if product_1.featured_image -%}
                  {{ product_1.featured_image | image_url: width: 1100 | image_tag:
                    loading: 'lazy',
                    class: 'motion-reduce',
                    sizes: sizes,
                    widths: '165, 360, 535, 750, 940, 1100',
                    is: 'lazy-image'
                  }}
                {%- else -%}
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
              <div class="mega-menu__promo-content">
                <div class="mega-menu__promo-heading">
                  <span class="label">{{ product_1.title | escape }}</span>
                </div>
                <div class="mega-menu__promo-subheading mega-menu__product-price" style="margin-top: 5px;">
                  {%- if product_1.compare_at_price > product_1.price -%}
                    <s style="margin-right: 8px; opacity: 0.6; font-size: 0.9em;">{{ product_1.compare_at_price | money }}</s>
                  {%- endif -%}
                  <strong>{{ product_1.price | money }}</strong>
                </div>
              </div>
            </a>
          </div>
        {%- endif -%}

        {% comment %} --- PRODUCT 2 --- {% endcomment %}
        {%- if block.settings.promo_product_2 != blank -%}
          {%- assign product_2 = block.settings.promo_product_2 -%}
          <div class="mega-menu__promo{% if block.settings.promo_overlay_content_2 %} mega-menu__promo--overlay{% endif %}">
            <a class="mega-menu__promo-link media-wrapper" href="{{ product_2.url }}">
              <div class="image-animate media media--{{ block.settings.promo_image_ratio_2 }}"
                style="--image-position: {{ block.settings.promo_image_position_2 }};{% if block.settings.promo_image_ratio_2 == 'adapt' and product_2.featured_image %}--image-ratio-percent: {{ 1 | divided_by: product_2.featured_image.aspect_ratio | times: 100 }}%;{% endif %}"
              >
                {%- if product_2.featured_image -%}
                  {{ product_2.featured_image | image_url: width: 1100 | image_tag:
                    loading: 'lazy',
                    class: 'motion-reduce',
                    sizes: sizes,
                    widths: '165, 360, 535, 750, 940, 1100',
                    is: 'lazy-image'
                  }}
                {%- else -%}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
              <div class="mega-menu__promo-content">
                <div class="mega-menu__promo-heading">
                  <span class="label">{{ product_2.title | escape }}</span>
                </div>
                <div class="mega-menu__promo-subheading mega-menu__product-price" style="margin-top: 5px;">
                  {%- if product_2.compare_at_price > product_2.price -%}
                    <s style="margin-right: 8px; opacity: 0.6; font-size: 0.9em;">{{ product_2.compare_at_price | money }}</s>
                  {%- endif -%}
                  <strong>{{ product_2.price | money }}</strong>
                </div>
              </div>
            </a>
          </div>
        {%- endif -%}

      </div>
    </div>
  {%- endif -%}
</mega-menu>