{% comment %}
  Renders the countdown block (uses product metafield theme.countdown).

  Accepts:
  - block:   {Object} Block object
  - product: {Object} Product object

  Mechanical extraction of the 'countdown' case from main-product-v2.liquid (lines 2319-2356).
{% endcomment %}

{%- if product.metafields.theme.countdown.value != blank -%}
  {%- liquid
    assign now_time = 'now' | date: '%s' | times: 1
    assign countdown_time = product.metafields.theme.countdown.value | date: '%s' | times: 1
  -%}
  {%- if countdown_time > now_time -%}
    <div
      id="countdown-{{ block.id }}"
      class="product-countdown product-countdown--{{ block.settings.number_size }}"
    >
      {%- if block.settings.heading != blank -%}
        <p class="h4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M381.2 172.8C377.1 164.9 368.9 160 360 160h-156.6l50.84-127.1c2.969-7.375 2.062-15.78-2.406-22.38S239.1 0 232 0h-176C43.97 0 33.81 8.906 32.22 20.84l-32 240C-.7179 267.7 1.376 274.6 5.938 279.8C10.5 285 17.09 288 24 288h146.3l-41.78 194.1c-2.406 11.22 3.469 22.56 14 27.09C145.6 511.4 148.8 512 152 512c7.719 0 15.22-3.75 19.81-10.44l208-304C384.8 190.2 385.4 180.7 381.2 172.8z"/>
          </svg>
          {{- block.settings.heading | escape -}}
        </p>
      {%- endif -%}
      <countdown-timer
        class="countdown countdown--{{ block.settings.number_size }}"
        data-date="{{ product.metafields.theme.countdown.value | escape }}"
        {% if block.settings.number_size == 'compact' %}
          data-compact="true"
        {% endif %}
        {{ block.shopify_attributes }}
      ></countdown-timer>
      {%- style -%}
        #countdown-{{ block.id }} {
          --color-background: {{ block.settings.colors_background.red }}, {{ block.settings.colors_background.green }}, {{ block.settings.colors_background.blue }};
          --color-foreground: {{ block.settings.colors_text.red }}, {{ block.settings.colors_text.green }}, {{ block.settings.colors_text.blue }};
          --color-heading: {{ block.settings.colors_heading.red }}, {{ block.settings.colors_heading.green }}, {{ block.settings.colors_heading.blue }};
        }
      {%- endstyle -%}
      {{ 'section-countdown-timer.css' | asset_url | stylesheet_tag }}
    </div>
  {%- endif -%}
{%- endif -%}
