{% comment %}
  Renders the image block.

  Accepts:
  - block: {Object} Block object

  Mechanical extraction of the 'image' case from main-product-v2.liquid (lines 2295-2318).
{% endcomment %}

{%- if block.settings.image != blank -%}
  <div class="product-link__image" {{ block.shopify_attributes }}>
    {%- if block.settings.link != blank -%}
      <a href="{{ block.settings.link }}">
    {%- endif -%}
    {%- liquid
      assign image_height = block.settings.height
      assign image_height_2x = block.settings.height | times: 2
    -%}
    <img
      srcset="{{ block.settings.image | image_url: height: image_height }} 1x, {{ block.settings.image | image_url: height: image_height_2x }} 2x"
      src="{{ block.settings.image | image_url: height: image_height }}"
      alt="{{ block.settings.image.alt | default: shop.name | escape }}"
      style="--image-height: {{ block.settings.height }}px"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      loading="eager"
    >
    {%- if block.settings.link != blank -%}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
