{% comment %}
  Renders the product title block (with optional inline price).

  Accepts:
  - block:   {Object} Block object
  - product: {Object} Product object
  - section: {Object} Section object

  Mechanical extraction of the 'title' case from main-product-v2.liquid (lines 1297-1334).
{% endcomment %}

<div class="product__title{% if block.settings.desktop_hide %} large-up-hide medium-hide{% endif %}{% if block.settings.mobile_hide %} small-hide{% endif %}" {{ block.shopify_attributes }}>
  <h1 class="product__heading h2">
    {{ product.title | escape }}
  </h1>
  {%- if block.settings.show_price -%}
    <div id="price-{{ section.id }}">
      {%- liquid
        assign price_class = 'price--' | append: block.settings.price_size
        render 'price', product: product, use_variant: true, show_badges: false, price_class: price_class
      -%}
    </div>
    {%- if product.quantity_price_breaks_configured? -%}
      <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
        <span>{{ 'products.product.volume_pricing.note' | t }}</span>
      </div>
    {%- endif -%}
  {%- endif -%}
</div>
{%- if block.settings.show_price -%}
  {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
    <div class="product__tax caption rte">
      {%- if cart.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}
  <div {{ block.shopify_attributes }}>
    {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {{ form | payment_terms }}
    {%- endform -%}
  </div>
{%- endif -%}
