{%- assign text_direction = 'localization.text_direction_trigger' | t | downcase -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}"
  {%- if text_direction == 'rtl' %} dir="rtl"{% endif -%}
>
  <head>
    <script src="{{ 'pandectes-rules.js' | file_url }}"></script>
    {% render 'replo-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'meta-tags' %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script>
    !(function (e, n, t, i, p, a, s) {
      e[i] ||
        (((p = e[i] =
          function () {
            p.process ? p.process.apply(p, arguments) : p.queue.push(arguments);
          }).queue = []),
        (p.t = +new Date()),
        ((a = n.createElement(t)).async = 1),
        (a.src = 'https://static.newsbreak.com/business/tracking/nbpixel.js?t=' + 864e5 * Math.ceil(new Date() / 864e5)),
        (s = n.getElementsByTagName(t)[0]).parentNode.insertBefore(a, s));
    })(window, document, 'script', 'nbpix'),
      nbpix('init', 'ID-1885415750284668929'),
      nbpix('event', 'pageload');
    </script>

    <script data-obct type = "text/javascript">
      /** DO NOT MODIFY THIS CODE**/
      !function(_window, _document) {
        var OB_ADV_ID = '00671669d458c7010d5ffb2e665f2a3061';
        if (_window.obApi) {
          var toArray = function(object) {
            return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
          };
          _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
          return;
        }
        var api = _window.obApi = function() {
          api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
        };
        api.version = '1.1';
        api.loaded = true;
        api.marketerId = OB_ADV_ID;
        api.queue = [];
        var tag = _document.createElement('script');
        tag.async = true;
        tag.src = '//amplify.outbrain.com/cp/obtp.js';
        tag.type = 'text/javascript';
        var script = _document.getElementsByTagName('script')[0];
        script.parentNode.insertBefore(tag, script);
      }(window, document);

      obApi('track', 'PAGE_VIEW');
    </script>

    <script type="importmap">
      {
        "imports": {
          "mdl-scrollsnap": "{{ 'scrollsnap.js' | asset_url }}",
          "timeline-component": "{{ 'timeline-component.js' | asset_url }}",
          "comparison-table-component": "{{ 'comparison-table-component.js' | asset_url }}",
          "dual-scroll-component": "{{ 'section-dual-scroll.js' | asset_url }}"
        }
      }
    </script>

    <script src="{{ 'vendor-v4.js' | asset_url | split: '?' | first }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'modules-basis.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {%- liquid
      render 'css-variables'
      echo 'base.css' | asset_url | stylesheet_tag: preload: true
      echo 'custom.css' | asset_url | stylesheet_tag: preload: true
      
      if text_direction == 'rtl'
        echo 'rtl.css' | asset_url | stylesheet_tag
      endif
    -%}

    <link rel="stylesheet" href="{{ 'apps.css' | asset_url }}" media="print" fetchpriority="low" onload="this.media='all'">

    {% # theme-check-disable %}
    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}
    {% # theme-check-enable %}
    
    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}
    {%- if settings.quick_view_enabled -%}
      <link rel="stylesheet" href="{{ 'component-quick-view.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}
    {%- if settings.color_swatches_enabled -%}
      <link rel="stylesheet" href="{{ 'component-color-swatches.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}
    {%- if linklists.gift-wrapping.links != blank and linklists.gift-wrapping.links.first.type == 'product_link' -%}
      <link rel="stylesheet" href="{{ 'component-gift-wrapping.css' | asset_url }}" media="print" onload="this.media='all'">
      <noscript>{{ 'component-gift-wrapping.css' | asset_url | stylesheet_tag }}</noscript>
    {%- endif -%}

    {%- render 'js-variables' -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script><link rel="preload" href="https://quickstart-41d588e3.myshopify.com/cdn/shop/t/3/assets/lazysizes-8.0.50.js" as="script"><script src="https://quickstart-41d588e3.myshopify.com/cdn/shop/t/3/assets/lazysizes-8.0.50.js"></script>

    <!-- Taboola Pixel Code -->
    <script type='text/javascript'>
      window._tfa = window._tfa || [];
      window._tfa.push({notify: 'event', name: 'page_view', id: 1776931});
      !function (t, f, a, x) {
            if (!document.getElementById(x)) {
                t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
            }
      }(document.createElement('script'),
      document.getElementsByTagName('script')[0],
      '//cdn.taboola.com/libtrc/unip/1776931/tfa.js',
      'tb_tfa_script');
    </script>
    <!-- End of Taboola Pixel Code -->

    {%- if content_for_header contains "elevateab.app" -%}{%- unless request.design_mode -%} <script>try{window.eab_data={selectors:JSON.parse(`{{shop.metafields.elevateab.select}}`)||{},allTests:JSON.parse(`{{shop.metafields.elevateab.tests}}`)||{},currencyFormat:{% if settings.currency_code_enabled %}"{{ shop.money_with_currency_format}}"{% else %}"{{ shop.money_format}}"{% endif %}};}catch(error){console.log(error);window.eab_data={selectors:{},allTests:{},currencyFormat:{% if settings.currency_code_enabled %}"{{ shop.money_with_currency_format}}"{% else %}"{{ shop.money_format}}"{% endif %}};}</script><script src="https://ds0wlyksfn0sb.cloudfront.net/redirect.js"></script> {%- endunless -%}{%- endif -%} 
    {% render 'kiwiSizing' %}
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "v5ev3r1bgu");
    </script>
  </head>

  <body class="template-{{ request.page_type }}{% if request.design_mode %} shopify-design-mode{% endif %}"
    {%- if settings.image_zoom_effect_enabled %} data-animate-image{% endif -%}
    {%- if settings.image_loading_bar_enabled %} data-lazy-image{% endif -%}
    {%- if settings.heading_capitalize %} data-heading-capitalize{% endif -%}
    {%- if settings.heading_center %} data-heading-center{% endif -%}
    {%- if settings.price_superscript %} data-price-superscript{% endif -%}
    {%- if settings.button_corner_radius > 0 %} data-button-round{% endif -%}
  ><main id="MainContent" class="content-for-layout focus-none shopify-section" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main></body>
</html>
