
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-544119606604727134.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-544119606604727134.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-544119606604727134.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-544119606604727134.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-544119606604727134.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-544119606604727134.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-544119606604727134.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-544119606604727134.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-544119606604727134.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-544119606604727134.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-544119606604727134.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-544119606604727134.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-544119606604727134.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-544119606604727134.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-544119606604727134.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-544119606604727134.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-544119606604727134.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-544119606604727134.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-544119606604727134.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-544119606604727134.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-544119606604727134.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-544119606604727134.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-544119606604727134.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-544119606604727134.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-544119606604727134.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-544119606604727134.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-544119606604727134.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-544119606604727134.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-544119606604727134.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-544119606604727134.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-544119606604727134.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-544119606604727134.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-544119606604727134.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-544119606604727134.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-544119606604727134.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-544119606604727134.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-544119606604727134.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-544119606604727134.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-544119606604727134.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-544119606604727134.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-544119606604727134.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-544119606604727134.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-544119606604727134.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-544119606604727134.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-544119606604727134.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-544119606604727134.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-544119606604727134.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-544119606604727134.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-544119606604727134.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-544119606604727134.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-544119606604727134.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-544119606604727134.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-544119606604727134.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-544119606604727134.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-544119606604727134.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-544119606604727134.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-544119606604727134.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-544119606604727134.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-544119606604727134.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-544119606604727134.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-544119606604727134.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-544119606604727134.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-544119606604727134.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-544119606604727134.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-544119606604727134.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-544119606604727134.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-544119606604727134.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-544119606604727134.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-544119606604727134.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-544119606604727134.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-544119606604727134.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-544119606604727134.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-544119606604727134 .gp-relative{position:relative}.gps-544119606604727134 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-544119606604727134 .gp-mb-0{margin-bottom:0}.gps-544119606604727134 .gp-inline-block{display:inline-block}.gps-544119606604727134 .gp-flex{display:flex}.gps-544119606604727134 .gp-grid{display:grid}.gps-544119606604727134 .gp-contents{display:contents}.gps-544119606604727134 .\!gp-hidden{display:none!important}.gps-544119606604727134 .gp-hidden{display:none}.gps-544119606604727134 .gp-h-auto{height:auto}.gps-544119606604727134 .gp-h-full{height:100%}.gps-544119606604727134 .gp-w-full{width:100%}.gps-544119606604727134 .gp-max-w-full{max-width:100%}.gps-544119606604727134 .gp-flex-none{flex:none}.gps-544119606604727134 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-544119606604727134 .gp-flex-col{flex-direction:column}.gps-544119606604727134 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-544119606604727134 .gp-duration-200{transition-duration:.2s}.gps-544119606604727134 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-544119606604727134 .tablet\:\!gp-hidden{display:none!important}.gps-544119606604727134 .tablet\:gp-hidden{display:none}.gps-544119606604727134 .tablet\:gp-h-auto{height:auto}.gps-544119606604727134 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-544119606604727134 .mobile\:\!gp-hidden{display:none!important}.gps-544119606604727134 .mobile\:gp-hidden{display:none}.gps-544119606604727134 .mobile\:gp-h-auto{height:auto}.gps-544119606604727134 .mobile\:gp-flex-none{flex:none}}.gps-544119606604727134 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F2F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"glfOZhQMgI"}' data-id="glfOZhQMgI" id="glfOZhQMgI" data-same-height-subgrid-container class="glfOZhQMgI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-s);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkbpwauImw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gH9QJrfkhA"}' data-id="gH9QJrfkhA" id="gH9QJrfkhA" data-same-height-subgrid-container class="gH9QJrfkhA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-ZZNKEhpK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gpYnKIb3Rg"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:10px;--pr-mobile:10px;--pl-tablet:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1769257514845 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpYnKIb3Rg"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_540877661690397663-87b6663a-3192-4f45-81a1-237449d61d7c.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_540877661690397663-87b6663a-3192-4f45-81a1-237449d61d7c.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_540877661690397663-87b6663a-3192-4f45-81a1-237449d61d7c.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_540877661690397663-87b6663a-3192-4f45-81a1-237449d61d7c.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8o3F4T9JS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYA_k31ieX"
        class="gYA_k31ieX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-5xl);--pl:var(--g-s-l);--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-3xl);--pl-tablet:var(--g-s-l);--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-NeueHaasDisplayRoman, 'NeueHaasDisplayRoman'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYA_k31ieX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA6uhJHBQV"
        class="gA6uhJHBQV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:var(--g-s-l);--mb-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-NeueHaasDisplayRoman, 'NeueHaasDisplayRoman'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-xl);--pr:var(--g-s-xl);--pt:var(--g-s-xl);--pb:var(--g-s-xl);overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA6uhJHBQV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-544119606604727134 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/de0b47-8b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=544104361349874782&sectionId=544119606604727134)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYA_k31ieX_text","label":"ggYA_k31ieX_text","default":"<strong>A Leap in Fleece Innovation</strong>"},{"type":"html","id":"ggA6uhJHBQV_text","label":"ggA6uhJHBQV_text","default":"<p>This isn’t just any fleece blanket—it’s a game changer. Made from advanced breathable fleece, it’s larger, softer, and cozier than anything you’ve tried before. Plus, it’s designed to calm your nervous system and reduce stress, creating the perfect environment for relaxation. Its pet-friendly fabric also ensures it stays clean and fur-free, making it a win for both you and your furry friends.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}